<!doctype html>
<html>
<head>
    <title>Canvas Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
    
    <div class="container">
        <div class="text-center">
            <h1>
                Canvas Chat
            </h1>
            <ul id="navTab" class="nav nav-pills">
                <li role="presentation" class="active">
                    <a href="#signIn" data-toggle="tab">Sign In</a>
                </li>
                <li role="presentation">
                    <a href="#signUp" data-toggle="tab">Sign up</a>
                </li>                
            </ul>          
        </div>

    </div>
    <div class="container">
        <div class="tab-content">
            <!-- Sign In form -->
            <div role="tabpanel" class="tab-pane active" id="signIn">
                <div class="col-sm-6 col-sm-offset-3">

                    <% if (typeof message !== 'undefined' && message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <!-- LOGIN FORM TODO: Move them to partials-->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    </form>
                </div>
            </div>

            <!-- Sign up form TODO: Move them to partials--> 
            <div role="tabpanel" class="tab-pane" id="signUp">   
                <div class="container">
                    <div class="col-sm-6 col-sm-offset-3">

                        <% if (typeof message !== 'undefined' && message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                        <% } %>

                        <form action="/signup" method="post">
                            <h3> Required: </h3>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
                        </form>
                    </div>
                </div>                     
            </div>            
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>
