<!doctype html>
<html>
<head>
    <title>Canvas Chat</title>    
    <link rel="stylesheet" href="vendor/materialize/css/materialize.min.css">    
    <link rel="stylesheet" href="css/main.css">    
    <!-- Load vendor JS -->
    <script type="text/javascript" src="vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendor/materialize/js/materialize.js"></script>
</head>
<body>    
    <div class="container">
     <% if (message.length > 0) { %>
        <%- include partials/common/error.ejs %>        
    <% } %>          
        <div class="row">
            <div class="col s12 l8 offset-l2">
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel">                            
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s6"><a class="active" href="#signIn">Sign In</a></li>
                                        <li class="tab col s6"><a href="#signUp">Sign Up</a></li>                                       
                                    </ul>
                                </div>
                                <div id="signIn" class="col s12">
                                    <%- include partials/index/signin.ejs %>
                                </div>
                                <div id="signUp" class="col s12">
                                    <%- include partials/index/signup.ejs %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>    
    <!-- Load app main js -->
    <script src="/login/main.js"></script>
</body>
</html>
