<html>
<head>
    <title>Canvas Chat</title>  
    <link rel="stylesheet" href="vendor/materialize/css/materialize.min.css">    
    <link rel="stylesheet" href="css/main.css">    
   <!-- Load vendor JS -->
    <script type="text/javascript" src="vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendor/materialize/js/materialize.js"></script>    
</head>
<body>

	<header>
		<%- include partials/common/header.ejs %>
	</header>

</body>
</html>