 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignInUserId" type="text" class="validate">
          <label for="jsSignInUserId">User Name</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignInPassword" type="password" class="validate">
          <label for="jsSignInPassword">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a class="waves-effect waves-light btn jsSignInBtn">Sign In</a>
        </div>
      </div>
    </form>
</div>