 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpUserId" type="text" class="validate">
          <label for="jsSignUpUserId">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpUserEmail" type="text" class="validate">
          <label for="jsSignUpUserEmail">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpUserFN" type="text" class="validate">
          <label for="jsSignUpUserFN">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpUserLN" type="text" class="validate">
          <label for="jsSignUpUserLN">Last Name</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpPassword" type="password" class="validate">
          <label for="jsSignUpPassword">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a class="waves-effect waves-light btn jsSignUpBtn">Sign Up</a>
        </div>
      </div>
    </form>
</div>