
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   	backface-visibility: hidden;
}
main {
    flex: 1 0 auto;
}
.hide-content {
	display: none !important;
}

.padding-top {
	padding-top: 10px !important; 
}

.clear-padding {
	padding: 0 !important;
}

.thumbnail {
    width: 80px !important;
    height: 80px !important;
}

.friend-item {
	margin-bottom:0;
}
.palette {
    padding-top: 25px;
}