<nav>
    <div class="nav-wrapper"> 
        <a href="#!" class="brand-logo center">Canvas Chat</a>
        <ul class="right">
            <li>
                <a href="/chat" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Chat">
                    <i class="mdi-editor-border-color small"></i>
                </a>

            </li>
            <li>
                <a href="/profile" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Profile">
                    <i class="mdi-action-account-circle small"></i>
                </a>

            </li>
            <li>
                <a href="/logout" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sign out">
                    <i class="fa fa-sign-out small"></i>
                </a>

            </li>
        </ul>
    </div>
</nav>