 <div class="row">
    <form class="col s12" action="/signup" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpEmail" name="email" type="text" class="validate">
          <label for="jsSignUpEmail">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpFN" name="firstName" type="text" class="validate">
          <label for="jsSignUpFN">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpLN" name="lastName" type="text" class="validate">
          <label for="jsSignUpLN">Last Name</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignUpPassword" name="password" type="password" class="validate">
          <label for="jsSignUpPassword">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn jsSignUpBtn">Sign Up</button>
        </div>
      </div>
    </form>
</div>