 <div class="row">
    <form class="col s12" action="/signin" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignInUserId" name="email" type="text" class="validate">
          <label for="jsSignInUserId">Email</label>
        </div>
      </div>      
      <div class="row">
        <div class="input-field col s12">
          <input id="jsSignInPassword" name="password" type="password" class="validate">
          <label for="jsSignInPassword">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn jsSignInBtn">Sign In</button>
        </div>
      </div>
    </form>
</div>