<div class="row">
	<a class="btn waves-effect waves-light teal tooltipped js-clear-canvas" 
		data-position="top" 
		data-delay="50" 
		data-tooltip="Clear">
		<i class="mdi-action-delete white-text"></i>
	</a>
	<a class="btn waves-effect waves-light teal tooltipped js-save-canvas" 
		data-position="top" data-delay="50" 
		data-tooltip="Save">
		<i class="mdi-content-save white-text"></i>
	</a>
	<a class="btn waves-effect waves-light teal tooltipped js-share-canvas" 
		data-position="top" data-delay="50" 
		data-tooltip="Share">
		<i class="mdi-social-share white-text"></i>
	</a>
	<a class="btn waves-effect waves-light teal tooltipped" 
		data-position="top" data-delay="50" 
		data-tooltip="Copy">
		<i class="mdi-content-content-copy white-text"></i>
	</a>		
</div>