<div class="card">
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Background Settings</span>
		<div class="row">
			<div class="file-field input-field col s6 padding-bottom">	      	
		      	<div class="btn">
		        	<span> Upload Image</span>
		        	<input type="file" id="imageLoader" name="imageLoader"/>
		      	</div>
			</div>
		</div>
		<div class="row">
			<div class="range-field col s4" >	    	
		    	<input type="range" id="js-bg-red" value="255" min="0" max="255" />
		    	<label for="js-bg-red">Red</label>
		    </div>
		    <div class="range-field col s4" >	    	
		    	<input type="range" id="js-bg-blue" value="255" min="0" max="255" />
		    	<label for="js-bg-blue">Blue</label>
		    </div>
		    <div class="range-field col s4" >	    	
		    	<input type="range" id="js-bg-green" value="255" min="0" max="255" />
		    	<label for="js-bg-green">Green</label>
		    </div>
		</div>
	</div>
</div>