<div>
	<h5 class="grey-text text-darken-4 margin-ends">Actions</h5>
	<div class="row">
		<div class="col s2">
			<a class="btn waves-effect waves-light teal tooltipped js-image-upload"
			id = "js-image-upload" 
			data-position="top" 
			data-delay="50" 
			data-tooltip="Upload Image">
				<i class="mdi-file-file-upload white-text"></i>
			</a>
		</div>

		<div class="col s2">
			<a class="btn waves-effect waves-light teal tooltipped js-clear-canvas" 
			data-position="top" 
			data-delay="50" 
			data-tooltip="Clear">
				<i class="mdi-action-delete white-text"></i>
			</a>
		</div>
		<div class="col s2">
			<a class="btn waves-effect waves-light teal tooltipped js-save-canvas" 
			data-position="top" data-delay="50" 
			data-tooltip="Save">
				<i class="mdi-content-save white-text"></i>
			</a>
		</div>

		<div class="col s2">
			<a class="btn waves-effect waves-light teal tooltipped js-share-canvas" 
			data-position="top" data-delay="50" 
			data-tooltip="Share">
				<i class="mdi-social-share white-text"></i>
			</a>
		</div>

		<div class="col s2">
			<a class="btn waves-effect waves-light teal tooltipped" 
			data-position="top" data-delay="50" 
			data-tooltip="Copy">
				<i class="mdi-content-content-copy white-text"></i>
			</a>
		</div>
	</div>	
	<div class="row hidden">
		<div class="file-field padding-bottom col s12">	      	
	      	<div class="btn">		        	
	        	<input type="file" id="imageLoader" name="imageLoader"/>
	      	</div>
		</div>
	</div>	
</div>
