<div class="canvas-wrapper">
    <canvas id="server-canvas" width="680" height="405" class="border"></canvas>
    <canvas id="client-canvas" width="680" height="405" class="border"></canvas>    
</div>