<div class="row">
    <div     
    class="col">
        <div class="card-panel canvas-card clear-padding">
        	    <canvas id="canvas"></canvas>
        	          	
        </div>
    </div>
</div>