<div class="row">
    <div 
    style="padding-top:10px;"
    class="col">
        <div class="card-panel canvas-card clear-padding">
        	    <canvas id="canvas" 
        	    width="680" 
        	    height="405"></canvas>
        	          	
        </div>
    </div>
</div>