<div class="row">
    <% for(var i=0; i<fbUsers.length; i++) {%>
    	<div class="col js-friends-list-item" 	    		
    		data-id="<%= fbUsers[i].id %>" data-name="<%= fbUsers[i].name %>">
    		<div 
    		class="card-panel friend-item js-friend-item">
    			<div class="row">
    				<div class="col s12">
    					<img src="<%= fbUsers[i].pic%>" 			    				
    						data-delay="50" 
		    				data-tooltip="<%= fbUsers[i].name %>"
	              			data-position="right" 
	              			alt="" class="circle tooltipped" />              		
    				</div>
    			</div>	                	    			            
    		</div>              
       	</div>
    <% } %>          	        
</div>
       