<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header active"><i class="mdi-image-color-lens"></i>Palette</div>
	        <div class="collapsible-body">
	            <div class="row palette padding-top">
	            	<form class="col s12">
	            		<%- include linesettings.ejs %> 
	            		<%- include backgroundsettings.ejs %>
					</form>
				</div>
			</div>

        </div>
    </li>
</ul>