<div class="card-panel teal clear-padding">
	<div class="row">
		<div class="col s1">
			<i class="mdi-content-undo white-text"></i>
		</div>
		<div class="col s1">
			<i class="mdi-content-save white-text"></i>
		</div>
		<div class="col s1">
			<i class="mdi-social-share white-text"></i>
		</div>
		<div class="col s1">
			<i class="mdi-content-content-copy white-text"></i>
		</div>				
	</div>	
</div>
