<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="mdi-image-color-lens"></i>Palette</div>
	        <div class="collapsible-body">
	            <div class="row palette">
	            	<form class="col s12">
	            		<div class="row">
	            			<div class="range-field col s6" >	    	
						    	<input type="range" id="lineWidth" value="5" min="1" max="100" />
						    	<label for="lineWidth">Line Width</label>
						    </div>

							<div class="file-field input-field col s6">	      	
						      	<div class="btn">
						        	<span>File</span>
						        	<input type="file" id="imageLoader" name="imageLoader"/>
						      	</div>
							</div>
	            		</div> 
	            		<div class="row">
	            			<div class="range-field col s4" >	    	
						    	<input type="range" id="js-red" value="0" min="0" max="255" />
						    	<label for="js-red">Red</label>
						    </div>
						    <div class="range-field col s4" >	    	
						    	<input type="range" id="js-blue" value="0" min="0" max="255" />
						    	<label for="js-blue">Blue</label>
						    </div>
						    <div class="range-field col s4" >	    	
						    	<input type="range" id="js-green" value="0" min="0" max="255" />
						    	<label for="js-green">Green</label>
						    </div>
	            		</div>
	            		<div class="row">
	            			<a class="btn waves-effect waves-light teal tooltipped js-clear-canvas" 
								data-position="top" 
								data-delay="50" 
								data-tooltip="Clear">
								<i class="mdi-action-delete white-text"></i>
							</a>
							<a class="btn waves-effect waves-light teal tooltipped js-save-canvas" 
								data-position="top" data-delay="50" 
								data-tooltip="Save">
								<i class="mdi-content-save white-text"></i>
							</a>
							<a class="btn waves-effect waves-light teal tooltipped js-share-canvas" 
								data-position="top" data-delay="50" 
								data-tooltip="Share">
								<i class="mdi-social-share white-text"></i>
							</a>
							<a class="btn waves-effect waves-light teal tooltipped" 
								data-position="top" data-delay="50" 
								data-tooltip="Copy">
								<i class="mdi-content-content-copy white-text"></i>
							</a>		
	            		</div>							
					</form>
				</div>
			</div>

        </div>
    </li>
</ul>